@inherits LayoutComponentBase

    <div class="main">
        <div class="top-row">
            <div class="col-md-1">
                <a href="/">Mon Assistant Catalys</a>
            </div>
            <div class="px-4">
                <a href="/login">Configuration</a>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
