@inherits LayoutComponentBase

    <div class="main">
        <div class="top-row" style="background-color:orangered; height:75px">
            <div class="col-md-4">
                <h2 style="color:white; font-weight:bold; padding-top:10px;">
					<i class="fas fa-user-tie"></i>
                    Mon Assistant Catalys
                </h2>
            </div>
            <div class="col-md-5"></div>
			<div class="col-md-1">
				<a href="/" style="color:white;">
                    <i class="fas fa-home" />
                    Accueil
                </a>
			</div>
            <div class="col-md-2">
                <a href="/login" style="color:white;">
					<i class="fas fa-cog"></i>
                    Configuration
                </a>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
