@page "/"

<h1>Page principale</h1>

<p>Cette page est la page principale des vues relatives à l'affichage du questionnaire aux consultants</p>


<!-- Appel de la vue questionnaire -->
<Questionnaire />