<!-- Endroit où on détaille la question et où on met à jour-->

<h2><i class="fas fa-arrow-right"></i> Question</h2>

<br/>
<div class="question">
    <form action="">
        <table>
            <tr class="question">
                <td class="text">
                    <input class="question" value="text question" required="" />
                </td>
                <td class="button">
                    <button class="btn-update" type="submit">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text">
                    <input class="reponse" value="text reponse 1" required="">
                </td>
                <td class="button">
                    <button class="btn-update" type="submit">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td class="button">
                    <button class="btn-delete" type="submit">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text">
                    <input class="reponse" value="text reponse 2" required="">
                </td>
                <td class="button">
                    <button class="btn-update" type="submit">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td class="button">
                    <button class="btn-delete" type="submit">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text">
                    <input class="reponse" value="text reponse 3" required="">
                </td>
                <td class="button">
                    <button class="btn-update" type="submit">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td class="button">
                    <button class="btn-delete" type="submit">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="btn-add">
                    <button class="btn-add" type="submit">
                        + Ajouter une nouvelle réponse
                    </button>
                </td>
            </tr>
            <tr>
                <td class="btn-save">
                    <button class="btn-save" type="submit">
                        <i class="far fa-save"></i>
                        Sauvegarder
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

@code {

}

<style>
    tr {
        width: 85%;
        padding-top: 10px;
    }

    td.text {
        width: 90%;
    }

    td.button {
        width: 5%;
    }

    td.btn-add {
        text-align: right;
    }

    td.btn-save {
        text-align: center;
        padding-top: 20px;
    }

    input {
        border: 0px;
        width: 100%;
    }

    input.question {
        font-size: 25px;
    }

    input.reponse {
        font-size: 20px;
    }

    button.btn-delete, button.btn-update {
        width: 30px;
        height: 30px;
        border: 0px;
        background-color: #EE7813;
        color: white;
        border-radius: 5px;
    }

    button.btn-add, button.btn-save {
        padding-top: 20px;
        border: 0px;
        background-color: white;
    }

    button.btn-save {
        font-size: 20px;
        color: green;
    }
</style>